.grid-stack>.grid-stack-item>.ui-resizable-handle {
    /*background: white;*/
}
.grid-stack>.grid-stack-item>.ui-resizable-se {
    right: 13px;
    bottom: 3px;
}
.page-layout-widget-types {
    margin: 0;
}
.page-layout-widget-title {
    margin-right: 46px;
    display: inline-block;
}
.page-layout-header {
    margin: 20px 0 0 0;
}
.pageLayoutItemTemplate {
    display: none;
}
.page-composer__page-preview__container__content .page-composer__page-preview__add-block {
    opacity:0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.page-composer__page-preview__container__content:hover .page-composer__page-preview__add-block {
    opacity: 1;
}
